@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin:0px;
    padding: 0px;
    background-color: yellow;
    background-image: url("img/bg_pattern.jpg");
    background-repeat: repeat;
    background-size: cover; /* make it cover the entire element */
}

* {
    box-sizing: border-box;     
    margin: 0;
    padding: 0;
}
